<div class="container">
  <mat-card class="header">
    <mat-card-header class="avatar">
      <img mat-card-avatar class="avatar-img" src="../../assets/iu.png" alt="IU">
      <mat-card-title class="header-title">朴南哲</mat-card-title>
      <mat-card-subtitle class="header-title">15827254230</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="list">
    <div class="list-item">选择学校</div>
    <mat-divider></mat-divider>
    <div class="list-item">信息变更</div>
    <mat-divider></mat-divider>
    <div class="list-item">数据报告</div>
  </div>
  <div class="btn">
    <button mat-button class="logout-button">退出登录</button>
  </div>
</div>