.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  box-shadow: none;
  border-radius: 0;
  .icon_back {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 21px;
  }
  span {
    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #24242A;
  }
}

.total {
  font-size: 11px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  text-align: center;
}

.content {
  flex: 1;
  box-shadow: none;
  border-radius: 0;
  overflow-y: auto;
}

.time-block {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  margin-top: 15px;
}

.time {
  font-size: 12px;
  font-family: Arial;
  font-weight: 400;
  color: #666666;
  img {
    width: 12px;
    height: 12px;
    padding-top: 5px;
    margin-left: 8px;
  }
}

.card-item {
  height: 113px;
  background: #FFFFFF;
  border: 1px solid #ADDC80;
  border-radius: 5px;
  box-shadow: none;
  margin-top: 15px;
  .avatar-img {
    width: 73px;
    height: 73px;
  }
  .header-title {
    font-size: 17px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #1A1A1A;
  }
  .header-subtitle {
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #666666;
  }
  .header-subtitle-user {
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #666666;
    display: flex;
    flex-direction: row;
    img {
      width: 16px;
      height: 16px;
    }
  }
  .header-subtitle-footer {
    font-size: 10px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #6FC622;
    white-space: nowrap;
    span {
      margin: 0 5px;
    }
  }
  .level {
    width: 57px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    position: absolute;
    right: 12px;
    font-size: 11px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    border-radius: 3px;
  }
  .level-one {
    background: rgb(254, 215, 210);
    color: rgb(249, 80, 58);
  }
  .level-two {
    background: rgb(204, 227, 225);
    color: rgb(4, 119, 255);
  }
  .level-three {
    background: rgb(212, 239, 223);
    color: rgb(48, 176, 103);
  }
}