.container {
  padding: 65px 28px;
}

.logo {
  width: 154px;
  height: 33px;
}

.title p {
  font-size: 2.2rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 31px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-card {
  margin-top: 100px;
  background: rgb(244, 245, 249);
  box-shadow: none;
  padding: 0;
}

.full-width {
  height: 4.2rem;
  border: 1px solid #6FC622;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgb(244, 245, 249);
}
.code {
  position: relative;
}

.text-button {
  font-size: 15px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #6FC622;
  // line-height: 19px;
  position: absolute;
  right: 25px;
  top: 56px;
}

.action-button {
  height: 42px;
  background: #6FC622;
  border-radius: 5px;
  font-size: 15px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 19px;
}

section {
  width: 100%;
  margin-top: 18px;
}

.checkbox-text {
  font-size: 1.2rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  line-height: 19px;
}

.checkbox-text button {
  font-size: 12px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #6FC622;
  line-height: 19px;
  padding: 0;
}

:host::ng-deep {
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background: #6FC622;
  }
}