.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  padding: 16px 0 0 0;
  box-shadow: none;
  border-radius: 0;
  .icon_back {
    width: 21px;
    height: 21px;
    position: absolute;
    left: 21px;
  }
  span {
    font-size: 16px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #24242A;
  }
}

.filter {
  display: flex;
  box-shadow: none;
  border-radius: 0;
  padding: 16px 0 16px 0;
  .filter-button {
    text-align: center;
    font-size: 12px;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #666666;
    flex: 1;
  }
}

.total {
  text-align: center;
  font-size: 11px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}

.table {
  box-shadow: none;
  border-radius: 0;
  padding-top: 0;
  flex: 1;
}

.mat-table {
  width: 100%;
  box-shadow: none;
  .mat-cell {
    font-size: 12px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #333333;
  }
  .mat-column-room {
    text-align: center;
  }
  .mat-column-name {
    text-align: center;
  }
  .mat-column-phone {
    text-align: center;
  }
  .mat-column-lastState {
    text-align: center;
  }
  .mat-column-isBed {
    text-align: center;
  }
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
    padding: 0;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    padding: 0;
  }
  th.mat-header-cell {
    border: none;
  }
  td.mat-cell {
    border-bottom: 1px solid #E5E5E5;
  }
}